{% extends 'base.html' %} {% load static %}

{% block titulo %}
Cadastro
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block content %}

    <div class="containera">
        <div class="lado-a">
            <h1>Já possui uma conta?</h1>
            <p>Faça seu login agora!</p>
            <div class="btn-entra1">
                <input type="submit" value="LOGAR EM MINHA CONTA" id="btn_login">
            </div>
        </div>

        <div class="lado-b">

            <h1>Crie sua conta</h1>

            <form action="{% url 'login' %}" autocomplete="off" method="POST">

                <div class="single-input">
                    <input type="text" class="input" id="nome" required>
                    <label for="nome">Usuário</label>
                </div>

                <div class="single-input">
                    <input type="email" class="input" id="email" required>
                    <label for="sobrenome">Email</label>
                </div>

                <div class="single-input">
                    <input type="password" class="input" id="sobrenome" required>
                    <label for="sobrenome">Senha</label>
                </div>

                <div class="btn-entra2">
                    <input type="submit" value="CADASTRAR" id="btn_cadastro">
                </div>

                <div class="logo-b">
                    <img src="{% static 'images/TeladeCadastro/logo_cadastro.png' %}">
                </div>
            </form>
        </div>
    </div>

{% endblock %}