{% load static %}


<header class="navbar001">
        <nav>
            <div class="contentNav">
                <a class="logo" href="/">
                    <img class="logo_img" src="{% static 'images/Semcor_Aolado.png' %}">
                </a>
                <div class="ladoEsquerdo">
                    <ul class="nav-list">
                        <li><a class="link" href="/">Inicio</a></li>
                        <li><a class="link" href="/contato">Contato</a></li>
                    </ul>
                    
                    </div>
                    
                </div>
            </div>    
        </nav>
</header>