<div class="contentMaster">
    <div class="haha2">
    <div id="cont2">
        <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">

            <ul class="navbar-nav d-flex flex-column mt-5 w-100">
                <li class="nav-item w-100">
                    <h5>Produtos</h5>
                    <p onclick="callProduct('principal')">Todos</p>
                    <p onclick="callProduct('feijao')">Feijão</p>
                    <p onclick="callProduct('arroz')">Arroz</p>
                    <p onclick="callProduct('macarrao')">Macarrão</p>
                    <p onclick="callProduct('sal')">Sal</p>
                    <p onclick="callProduct('molho')">Molho de tomate</p>
                    <p onclick="callProduct('farinha')">Farinha de trigo</p>
                    <p onclick="callProduct('cafe')">Café</p>
                    <p onclick="callProduct('detergente')">Detergente</p>
                    <hr>
                    <h5>Mercados</h5>
                    <p onclick="callMarket('principal')">Todos</p>
                    <p onclick="callMarket('cooper')">Cooper</p>
                    <p onclick="callMarket('atacadao')">Atacadão</p>
                    <p onclick="callMarket('rede')">Rede Top</p>
                    <p onclick="callMarket('giassi')">Giassi</p>
                    <p onclick="callMarket('fort')">Fort Atacadista</p>
                    <p onclick="callMarket('bistek')">Bistek</p>
                    <p onclick="callMarket('sams')">Sam`s Market</p>
                    <hr>
                </li>
    
            </ul>
        </nav>
    </div>
    </div>

    <script>
        function callProduct(productName) {
            const url = window.location.href.split('/')
            var newUrl = url[0] + '//' + url[2] + '/' + url[3] + '/' + productName + '/'
            // console.log(newUrl)
            document.location.href =newUrl
        }

        function callMarket(marketName) {
            const url = window.location.href.split('/')
            var newUrl = url[0] + '//' + url[2] + '/' + marketName + '/' + url[4] + '/'
            document.location.href =newUrl
        }
    </script>