<div class="containerA1">
    
    <style>

        .titulo {
            margin-bottom: 20px;
            margin-top: 20px;
            font-weight: bold;
        }
        .containerA1 {
            background-color: #fff;
            margin: 20px;
            width: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            margin-top: 20px;
            padding: 4px;
            z-index: 12;
        }
        .filtros {            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin: 20px 0px;
        }
        .filtros a{
            /* background-color: #142644; */
            padding: 5px 20px;
            border-radius: 5px;
            text-decoration: none;
            /* color: white; */
        }
    </style>

        <h3 class="titulo">Produtos</h3>
        <div class="filtros">
            <a href="/molho_tomate/">Molho de Tomate</a>
            <a href="/farinha_trigo">Farinha de Trigo</a>
            <a href="/detergente/">Detergente</a>
            <a href="/macarrao/">Macarrão</a>
            <a href="/feijao/">Feijão</a>
            <a href="/sal/">Sal</a>
            <a href="/cafe/">Café</a>
            <a href="/arroz/">Arroz</a>
        </div>
        <hr>
        <h3 class="titulo">Mercados</h3>
        <div class="filtros">                       
            <a href="/atacadao/">Atacadão</a>                
            <a href="/bistek/">Bistek</a>                
            <a href="/cooper/">Cooper</a>              
            <a href="/fort/">Fort</a>              
            <a href="/giassi/">Giassi</a>                
            <a href="/rede/">Rede Top</a>                
            <a href="/sams/">Sam's Club</a>  
        </div>


        <!-- <div class="btn-filtro">
            <button class="button-filtro" type="submit">Aplicar filtros</button>
        </div> -->

</div>